h1 {
    text-align: center;
    background-color: rgb(153, 115, 121);
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: rgb(218, 181, 187);;
    border-width: thick;
}

body {
    background-image: url("../images/darkmountains.jpeg");
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.top-logo {
    text-align: left;
    border-radius: 200px;
    max-width: 8%;
    margin-top: 2%;

}

.date{
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 20%;
    text-align: center;
    background-color: rgb(218, 181, 187);
    margin-left: 25%;
}

.text {
    font-size: 20px; 
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 40%;
    background-color:rgb(218, 181, 187);
    margin-left: 25%;
}

.concepts {
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 40%;
    background-color:rgb(218, 181, 187);
    margin-left: 25%;
}

.mood {
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 30%;
    background-color: rgb(218, 181, 187);
    margin-left: 25%;
}

.button {
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 25%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 115, 121);
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.copyright {
    text-align: center;
    font-size: 17px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    border-radius: 20%;
    display: flex;
    float: right;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #f1a71c;}

  .entries {
    color: white;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: rgb(218, 181, 187);
    border-width: thick;
  }